.admin-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: black;
  padding: 10px;

  .username {
    margin-right: auto;
  }
  .button {
    margin-left: 5px;
  }
}
.admin.main {
  margin-top: 85px;
  margin-bottom: 100px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

// list pages
.admin-list {
  padding: 10px;

  .form {
    .button {
      margin-left: auto;
      background: darken($base-color, 40);
      color: white;
    }
    input[type="text"] {
      margin-right: 10px;
    }
  }

  .items {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .list-item {
    padding: 10px;
    display: flex;
    align-items: center;
    background: white;
    color: black;
    border-radius: 4px;

    .button {
      background: darken($base-color, 20);
      color: white;
      margin-left: auto;
    }
  }
}

// item pages
.admin-form {
  padding: 30px;

  .top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
  }

  .middle {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-gap: 10px;
    align-items: center;
    padding: 30px 0 0;
    margin: 30px 0 0;
    border-top: 1px solid darken($base-color, 20);
  }
  .bottom {
    margin-top: 30px;
    border-top: 1px solid darken($base-color, 20);
    padding-top: 30px;

    .toggle-hours {
      display: grid;
      grid-template-columns: 1fr 9fr;
      grid-gap: 10px;
      align-items: center;
      margin-bottom: 10px;

      input[type="checkbox"] {
        width: 20px;
        height: 20px;
      }
    }
    .opening-hours {
      display: grid;
      grid-template-columns: 1fr 9fr;
      grid-gap: 10px;
      align-items: center;
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .save {
    text-align: right;
    margin-top: 30px;
    .button {
      background: darken($base-color, 40);
      color: white;
      padding: 10px 20px;
    }
  }

  input[type="checkbox"] {
    width: 40px;
    height: 40px;
    margin: 0;
    border: none;
    border-radius: 4px;
  }

  label {
    font-size: 12px;
    text-align: right;
  }

  input[type="text"],
  input[type="number"],
  input[type="time"] {
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    padding: 4px 8px;
  }

  .form-element {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
    align-items: center;
    height: 40px;
    margin-bottom: 10px;

    .multiple {
      display: flex;
      align-items: center;
    }
  }
  .checkboxes {
    display: inline-flex;

    .checkbox {
      display: flex;
      align-items: center;
      margin-right: 20px;

      input[type="checkbox"] {
        width: 20px;
        height: 20px;
      }
      label {
        margin-left: 5px;
        font-size: 14px;
      }
    }
  }
  .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;

    .weekday {
      text-align: right;

      > label {
        font-weight: 600;
        font-size: 14px;
        display: block;
        text-align: center;
        margin-bottom: 10px;
      }
      > .button {
        background: $wa-color;
        color: white;
        font-weight: 600;
        width: 24px;
        height: 24px;
      }
    }

    .items {
      padding: 0px 10px 10px;
      margin-bottom: 10px;
      border-radius: 4px;
      text-align: right;
      background: darken($base-color, 20);

      > .button {
        background: red;
        color: white;
        font-weight: 600;
        margin-top: 4px;
        width: 24px;
        height: 24px;
      }

      label {
        color: white;
        margin: 4px 0;
      }

      .item {
        display: flex;
        flex-direction: column;

        label {
          text-align: left;
        }
      }
    }
  }
}
