.boats-list {
  .daily-schedule {
    padding: 10px;
  }
  .title {
    display: flex;
    align-items: center;

    button {
      flex: 1;
      background: darken(#92e6ff, 10);
      color: rgba(255, 255, 255, 0.8);
      border-radius: 0;
      height: 44px;

      &.active {
        background: none;
        font-weight: 600;
        color: black;
        box-shadow: none;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
.direction {
  .next {
    text-align: center;
    margin: 10px 0 20px;
  }
  h2 {
    font-size: 16px;
  }
}
.wrap {
  .boat {
    .generic {
      padding: 16px;
      align-items: center;
    }
    .cal-wrapper {
      margin-top: 8px;
    }

    .other {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background: #ddd;
      padding: 10px;
    }
    .status {
      margin-right: auto;
      font-size: 14px;
    }
    .leaving {
      display: inline-block;
      font-weight: 400;
    }
    .not-operating {
      color: red;
      font-weight: 600;
    }
  }
}
.boat {
  background: white;
  border-radius: 4px;
  overflow: hidden;
  margin: 10px 5px 5px 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

  @media only screen and (max-width: $breakpoint-small) {
    margin: 10px 0 0;
  }

  .content {
    padding: 15px;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #ddd;
    padding: 10px;

    .status {
      margin-right: auto;
      font-size: 12px;
    }
  }

  .flatpickr-days {
    pointer-events: none;
  }

  .time {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &:after {
      display: inline-block;
      flex-shrink: 0;
      content: "";
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #00ff00;
      vertical-align: middle;
      margin: 0 0 2px 10px;
    }
  }
  .location {
    font-weight: 400;
    font-size: 12px;
    display: block;
    margin-top: 8px;
  }
  .name {
    font-size: 16px;
    margin-bottom: 8px;
    cursor: pointer;
  }

  .not-operating {
    font-size: 16px;
    color: white;
  }

  &.warn {
    .time {
      &:before,
      &:after {
        background: #ff9900;
      }
    }
  }

  &.has-left {
    background: rgba(white, 50%);
    box-shadow: none;

    .time {
      &:before,
      &:after {
        background: red;
      }
    }

    .other {
      background: rgba(221, 221, 221, 50%);
    }
  }
  &.noop {
    background: rgba(white, 50%);

    .time {
      &:before,
      &:after {
        background: #ccc;
      }
    }

    .footer {
      color: white;
      background: red;
    }
  }
  .weekdays {
    display: flex;
  }
  .wd {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 8px 0;

    @media only screen and (max-width: $breakpoint-small) {
      font-size: 12px;
    }

    &:not(:last-child) {
      border-right: 1px solid #ccc;
    }

    &.today {
      background: #f1f1f1;
    }
  }
  .wd {
    align-items: center;
    flex: 1;

    hr {
      margin: 2px 0;
    }

    &.today {
      display: flex;
    }

    &.closed {
      &.today {
        display: flex;
        font-weight: 600;
      }

      .closed-icon-text {
        align-items: center;
        display: flex;
        flex: 1;

        .text {
          color: #ff0000;
        }
      }
    }
  }
}
.line {
  margin-top: 40px;
}
.part-of-day {
  display: flex;
  margin-bottom: 60px;
}
.segment {
  flex: 1;

  &:last-child {
    .hour {
      border-right: 1px solid black;
    }
  }

  .hour {
    padding: 2px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    font-size: 12px;
  }
}
.warning {
  border-radius: 4px;
  padding: 10px;
  background: #ffcc00;
  color: black;
  border: 2px solid black;
  display: flex;
  align-items: center;
  font-size: 12px;
  position: relative;
  margin-bottom: 8px;

  @media only screen and (max-width: $breakpoint-small) {
    margin: 0 5px 10px 5px;
  }

  .icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(../Warning.svg);
    text-indent: -9999px;
    background-size: 32px 32px;
    margin-right: 10px;
    flex-shrink: 0;

    @media only screen and (max-width: $breakpoint-small) {
      width: 64px;
      height: 64px;
      background-size: 64px 64px;
    }
  }

  span {
    display: block;
    font-weight: 800;
    font-size: 14px;
  }
}
.clear {
  border: none;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background: none;
  display: inline-block;
  background-image: url(../Clear.svg);
  background-size: 16px 16px;
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
.none {
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}
.cal-day {
  background: $base-color;
  border-radius: 50%;
  font-size: 12px;
}
.cal-disabled-day {
  opacity: 0.2;
  color: white;
}
