.boats-list {
  .daily-schedule {
    padding: 10px;
  }
  .title {
    display: flex;
    align-items: center;

    button {
      flex: 1;
      background: darken(#92e6ff, 10);
      color: rgba(255, 255, 255, 0.8);
      border-radius: 0;
      height: 44px;

      &.active {
        background: none;
        font-weight: 600;
        color: black;
        box-shadow: none;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
.direction {
  .next {
    text-align: center;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 16px;
  }
}
.wrap {
  display: none;

  @media only screen and (max-width: $breakpoint-small) {
    display: block;
  }
  .boat {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .other {
      display: flex;
      align-items: center;
    }
    .leaving {
      display: inline-block;
      margin-top: 8px;
      font-weight: 400;
    }
  }
}
.boat {
  margin-top: 10px;
  // font-weight: 600;
  background: white;
  border-radius: 4px;
  margin: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

  .content {
    padding: 10px;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #ddd;
    padding: 10px;

    .status {
      margin-right: auto;
      font-size: 12px;
    }
  }

  .time {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
    vertical-align: middle;

    &:before {
      display: inline-block;
      content: "";
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #00ff00;
      vertical-align: middle;
      margin: 0 6px 2px 0;
    }
  }
  .location {
    font-weight: 400;
    font-size: 12px;
    display: block;
    margin-top: 8px;
  }
  .name {
    font-size: 16px;
  }

  &.warn {
    .time {
      &:before {
        background: #ff9900;
      }
    }
  }

  &.has-left {
    opacity: 0.5;
    font-weight: 400;

    .time {
      &:before {
        background: red;
      }
    }
  }
}
.line {
  margin-top: 40px;

  @media only screen and (max-width: $breakpoint-small) {
    display: none;
  }
}
.before-noon,
.after-noon {
  display: flex;
}
.segment {
  flex: 1;

  &:last-child {
    .hour {
      border-right: 1px solid black;
    }
  }

  .hour {
    padding: 2px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    font-size: 12px;
  }
}
.warning {
  border-radius: 4px;
  padding: 10px;
  background: #ffcc00;
  color: black;
  border: 2px solid black;
  display: flex;
  align-items: center;
  font-size: 12px;
  position: relative;

  @media only screen and (max-width: $breakpoint-small) {
    margin: 0 5px 10px 5px;
  }

  .icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(../Warning.svg);
    text-indent: -9999px;
    background-size: 32px 32px;
    margin-right: 10px;
    flex-shrink: 0;

    @media only screen and (max-width: $breakpoint-small) {
      width: 64px;
      height: 64px;
      background-size: 64px 64px;
    }
  }

  span {
    display: block;
  }
}
.clear {
  border: none;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background: none;
  display: inline-block;
  background-image: url(../Clear.svg);
  background-size: 16px 16px;
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
.none {
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}
