.button {
  display: inline-block;
  background: white;
  color: black;
  border-radius: 4px;
  font-size: 12px;
  padding: 4px 8px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  -webkit-tap-highlight-color: transparent;

  &.router-link-active {
    font-weight: 600;
  }
}
