.tile-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 130px;
  padding: 5px;
  position: relative;
  backface-visibility: hidden;
  transition: transform 0.3s ease-out;

  @media only screen and (max-width: $breakpoint-small) {
    margin-top: 85px;
  }
}

.tile {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background: lighten(#92e6ff, 15);
  margin: 5px;
  width: 180px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  transform-origin: 10% 50%;
  backface-visibility: hidden;
  transition: width 0.3s;
  z-index: 1;

  /* moving */
  &-move {
    transition: all 600ms ease-in-out 50ms;
  }

  /* appearing */
  &-enter-active {
    transition: all 400ms ease-out;
  }

  /* disappearing */
  &-leave-active {
    transition: all 200ms ease-in;
    position: absolute;
    z-index: 0;
  }

  /* appear at / disappear to */
  &-enter,
  &-leave-to {
    opacity: 0;
  }

  .opening-hours {
    margin-bottom: 10px;
  }

  .day-names {
    display: none;
    font-weight: 600;
  }

  .cal-wrapper {
    display: none;
    margin-top: 10px;
  }

  .closed-today,
  .opens-in {
    color: red;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &.alt {
    width: 100%;
    margin: 0;
    background: none;
    box-shadow: none;

    h2.name {
      margin-right: 30px;
      justify-content: left;

      &:after {
        display: none;
      }

      &:before {
        flex-shrink: 0;
        content: "";
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background-color: red;
        vertical-align: middle;
        margin: 0 10px 2px 0;
        transition: background-color 0.3s;
      }
    }

    &.open {
      h2.name {
        &:before {
          background-color: #00ff00;
        }
      }
    }

    &.warn {
      h2.name {
        &:before {
          background-color: #ffba00;
        }
      }
    }

    &.reservation {
      h2.name {
        &:before {
          width: 18px;
          height: 18px;
          background: url(../Contact.svg);
          text-indent: -9999px;
          background-size: 16px 16px;
          background-position: 1px 1px;
          background-repeat: no-repeat;
        }
      }
    }

    .content,
    .footer {
      padding: 20px;
    }

    .footer {
      a {
        margin-left: 10px;
      }
    }

    .day-names {
      display: block;
      text-align: center;
    }

    .opening-hours {
      display: none;
    }

    .weekdays {
      display: flex;
      margin: 20px 0;
    }

    .cal-wrapper {
      display: block;
    }

    .interval {
      font-size: 12px;
      padding: 4px 4px 0 4px;
      text-align: center;

      &:not(:first-child) {
        border-top: 1px solid #ccc;
      }

      &:not(:last-child) {
        padding-bottom: 4px;
      }
    }

    .closed-icon {
      margin-top: 4px;
      display: inline-block;
      width: 24px;
      height: 24px;
      background-image: url(../Closed.svg);
      background-size: 24px 24px;
    }

    .wd {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      padding: 8px 0;
      text-transform: uppercase;

      @media only screen and (max-width: $breakpoint-small) {
        font-size: 12px;
      }

      &:not(:last-child) {
        border-right: 1px solid #ccc;
      }

      &.today {
        background: rgba(255, 255, 255, 0.7);
      }
    }
  }

  .weekdays {
    display: none;
  }

  .wd {
    display: none;
    align-items: center;
    flex: 1;

    hr {
      margin: 2px 0;
    }

    &.today {
      display: flex;
    }

    &.closed {
      &.today {
        display: flex;
        font-weight: 600;
      }
    }
  }

  @media only screen and (max-width: $breakpoint-small) {
    width: calc((100vw - 30px) / 2);

    &.double {
      width: calc(100% - 10px);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;
    -webkit-tap-highlight-color: transparent;
  }

  &.new {
    .highlight {
      background: #ffba00;
      color: white;
      font-size: 12px;
      padding: 4px 10px;
      font-weight: 600;
      text-align: right;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  &.open {
    h2.name {
      &:after {
        background-color: #00ff00;
      }
    }
  }

  &.warn {
    h2.name {
      &:after {
        background-color: #ffba00;
      }
    }
  }

  &.reservation {
    h2.name {
      &:after {
        width: 18px;
        height: 18px;
        background: url(../Contact.svg);
        text-indent: -9999px;
        background-size: 16px 16px;
        background-position: 1px 1px;
        background-repeat: no-repeat;
      }
    }
  }

  h2.name {
    font-size: 16px;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    &:after {
      flex-shrink: 0;
      content: "";
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background-color: red;
      vertical-align: middle;
      margin: 0 0 2px 10px;
      transition: background-color 0.3s;
    }
  }

  .description {
    margin: 20px 0 0;
    font-size: 14px;
    font-style: italic;
  }

  .info {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: auto;
  }

  .footer {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #ddd;
    padding: 10px;

    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &.reservation {
      background: $wa-color;
      color: white;
    }

    a {
      flex-shrink: 0;
    }

    .status {
      margin-right: auto;
      font-size: 12px;
    }
  }

  .flatpickr-days {
    pointer-events: none;
  }

  &.sponsored {
    background: white;
    overflow: hidden;

    .content {
      padding: 0;
    }

    .name,
    .description,
    .weekdays,
    .info,
    .opening-hours {
      padding: 0 15px;
    }

    .name {
      padding-top: 15px;
    }

    img {
      order: 0;
    }

    .description {
      order: 2;
    }

    .weekdays {
      order: 3;
    }

    .info {
      order: 4;
    }

    .opening-hours {
      order: 1;
      padding-top: 15px;
    }

    .footer {
      background: white;
    }
  }
}